.description__data {
  font-family: "Lexend Deca", sans-serif;
  font-size: 13px;
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: 400;
  margin-top: 20px;
  line-height: 1.7;
  padding-right: 30px;
}
