* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  border: 0;
}
.container {
  margin: 100px 280px 20px;
  height: 420px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: none;
}
